#title {
    text-align: center;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 199, 114);
  }

  /* Navbar styles */
  .navbar {
    background-color: #33333341;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }

  .container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(216, 216, 216); /* Apply teal background to container */
    padding: 1px;
  }
  /* Left column styles */
  .left-column {
    flex: 1;
    margin-right: 20px;
  }
  
  /* Right column styles */
  .right-column {
    flex: 2;
  }s

  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .left-column,
    .right-column {
      margin: 0;
      width: 100%;
    }
  }

  #row1 {
    background-color: teal;
  }