#title {
  text-align: center;
  font-family: "Xanh Mono", monospace;
}

#logo {
  height: 100px;
  width: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* FONTS */
.xanh-mono-regular-italic {
  font-family: "Xanh Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.spline-sans-mono-<uniquifier> {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* FONTS END */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

/* Navbar styles */

h3 {
  font-family: "Xanh Mono", monospace;

}
p {
  font-family: "Spline Sans Mono", monospace;

}


#welcome {
  height: 700px;
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




.container {
  max-width: 1200px;
  margin: 20px auto;
  background-color: rgb(216, 216, 216); /* Apply teal background to container */
  padding: 50px;
  text-align: center;
}

.site-footer {
  padding: 20px 0;
  background: #222;
  color: #fff;
}

.footer-content .text-justify {
  margin: 10px 0;
}

.footer-links li {
  list-style: none;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

#maintitle {
  margin-top: 2%;
text-align: center;
}

#bg {
  background-image: url("images/unnamed.jpg"); 
  height: 800px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: #cecece;
  background-blend-mode: overlay;

}

