#title {
  text-align: center;
  font-family: "Xanh Mono", monospace;
}

#logo {
  height: 100px;
  width: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* FONTS */
.xanh-mono-regular-italic {
  font-family: "Xanh Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.spline-sans-mono <> {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* FONTS END */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

/* Navbar styles */

h3 {
  font-family: "Xanh Mono", monospace;

}
p {
  font-family: "Spline Sans Mono", monospace;

}

#welcome {
  height: 300px;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  background-color: rgb(216, 216, 216); /* Apply teal background to container */
  padding: 50px;
  text-align: center;
}

.site-footer {
  padding: 20px 0;
  background: #222;
  color: #fff;
}

.footer-content .text-justify {
  margin: 10px 0;
}

.footer-links li {
  list-style: none;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

#maintitle {
  margin-top: 2%;
text-align: center;
}

#bg {
  background-image: url("images/unnamed.jpg"); 
  height: 800px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: #cecece;
  background-blend-mode: overlay;

}

body.bodyone {
  background-image: url("images/");
}
/* carousel  */
.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 80%;
  overflow: hidden;
}

.product-carousel {
  display: flex;
  gap: 20px;
  text-align: center;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 500px;
  padding: 120px;
  box-shadow: 0 2px 5px rgba(245, 159, 62, 0.1);
  text-align: center;
  flex: 0 0 auto;
}

.product-card img {
  max-width: 100%;
  border-bottom: 30px solid #ddd;
  margin-bottom: 30px;
}

.product-card h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-card p {
  font-size: 1em;
  margin: 10px 0;
}

.product-card button {
  background-color: #e6964b;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.product-card button:hover {
  background-color: #218838;
}

.carousel-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}